.nav {
  position: sticky;
  top: 0;
  width: auto;
  background-color: #ffffff;
  display: flex;
  padding: 0 16px;
  align-items: center;
  justify-content: center;
  border: none;
  position: fixed;
  left: 0;
  right: 0;
  height: 56px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

.navbar {
  margin: 0px 12px 0px 4px;
  text-decoration: none;
  background-color: none;
  border: none;
  color: rgb(0, 0, 0);
}
.navbar:hover {
  border-bottom: 2px solid #1a6b77;
}

.footer {
  margin: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.background {
  background-image: url("/test.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: fixed;
  top: 57px;
  left: 0;
  right: 0;
  height: 874px;
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 280px;
}

.login {
  background-color: white;
  padding: 30px;
  height: 150px;
  border-radius: 15px;
  text-align: center;
  font: 500 Roboto, "Helvetica Neue", sans-serif;
  box-shadow: 1px 4px 4px 4px rgba(0, 0, 0, 0.12),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.logar {
  text-decoration: none;
  background-color: #1a6b77;
  color: rgb(255, 255, 255);
  padding: 12px 75px;
  border-radius: 20px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  font: 500 15px Roboto, "Helvetica Neue", sans-serif;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    transition: 0.7s;
}
.logar:hover {
  padding: 12px 120px ;
  border-color: black;
}
